version: "3.8"

services:
  # 1. Web Server (PHP + Apache)
  web:
    build: .
    ports:
      - "80:80" # Chạy ở localhost cổng 80
    volumes:
      - ./src:/var/www/html # Map thư mục src của bạn vào trong container
    depends_on:
      - db

  # 2. Database (MySQL)
  db:
    image: mysql:5.7 # Dùng bản 5.7 cho ổn định (hoặc 8.0 tùy bạn)
    environment:
      MYSQL_ROOT_PASSWORD: root # Mật khẩu root
      MYSQL_DATABASE: demo_shop # Tên database tự tạo khi khởi chạy
    volumes:
      - db_data:/var/lib/mysql
      # Dòng dưới này sẽ tự động chạy file .sql trong thư mục db khi khởi tạo lần đầu
      - ./db:/docker-entrypoint-initdb.d

  # 3. phpMyAdmin (Quản lý Database)
  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    links:
      - db
    ports:
      - "8080:80" # Truy cập phpMyAdmin ở localhost:8080
    environment:
      PMA_HOST: db
      MYSQL_ROOT_PASSWORD: root

volumes:
  db_data:
